.proyecto_section{
    height: auto;
    justify-content: normal;
    background-color: var(--seccion-bg);
    padding: 0 3rem 4rem;
    box-sizing: border-box;
}
.galeria{
    width: 100%;
    height: auto;
    align-items: normal;
    justify-content: normal;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    box-sizing: border-box;
}