.bar{
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5rem;
}
.bar_porcentaje{
    background-color: var(--color-bar-porcentaje);
    height: 30px;
    margin-left: -1rem;
}
.porcentaje{
    background-color: #b4b4b481;
    width: 100%;
    height: 30px;
    padding: 0.4rem 1rem 0  0;
    box-sizing: border-box;
    text-align: end;
}
@keyframes llenarBarras {
    from {
        min-width:0%;
    }
    to{
        min-width:var(--porcentaje-barra); 
    }
}