.bar {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
}
.porcentaje_container {
  position: relative;
  width: 100%;
  margin-left: -1rem;
}
.bar_porcentaje {
  width: 0;
  position: relative;
  background-color: var(--color-bar-porcentaje);
  height: 30px;
  margin-left: -1rem;
  z-index: -1;
}
.porcentaje {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #b4b4b481;
  height: 30px;
  padding: 0.4rem 1rem 0 0;
  box-sizing: border-box;
  text-align: end;
  margin-left: -1rem;
  z-index: -2;
}

.text-porcentaje {
  color: var(--color-texto);
  top: 8px;
  left: 88%;
  position: absolute;
  z-index: 0;
}

@keyframes llenarBarras {
  from {
    width: 0%;
  }
  to {
    width: var(--porcentaje-barra);
  }
}

@media (max-width: 1300px) {
  .text-porcentaje {
    left: 85%;
  }
}

@media (max-width: 704px) {
  .text-porcentaje {
    top: 5px;
    left: 78%;
  }
}