.card {
    width: 390px;
    min-height: 300px;
    opacity: 0;
    text-align: center;
    justify-content: normal;
    position: relative;
    z-index: 3;
    transition: all 0.5s;
}

.card_img {
    visibility: visible;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 1;
    transition: all 0.5s;
}

.card_contenido_container {
    height: 100%;
    width: 100%;
    visibility: hidden;
    position: absolute;
    opacity: 1;
    z-index: 1;
    justify-content: space-between;
    transition: all 0.5s;
}

.card_text_container {
    position: relative;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
}

.card_titulo {
    font-size: 1.3rem;
    font-weight: 700;
}

.card_button_container {
    width: 100%;
    position: relative;
    opacity: 0;
    transition: all 0.5s;
}

.card_button {
    color: var(--negro);
    font-size: 0.9rem;
    border: 2px solid var(--color-secundario);
    transition: all 0.5s;
    padding: 0 1.3rem;
    line-height: 32px;
    box-sizing: border-box;
}

.card:hover .card_img {
    opacity: 0;
    visibility: hidden;
}

.card_button:hover {
    color: var(--blanco);
    background-color: var(--color-secundario);

}

.aparecer-card_text_container {
    opacity: 1;
    margin-top: 4.5rem;
    transition: all 0.5s;
}

.aparecer-card_button_container {
    opacity: 1;
    margin-bottom: 4.5rem;
    transition: all 0.5s;
}

@media (max-width:875px) {
    .card {
        width: calc(50vw - 12px);
    }
}

@media (max-width:540px) {
    .card {
        width: calc(100vw - 12px);
    }
}

@media (max-width:320px) {
    .card {
        width: 100vw;
    }
}