.modal_container {
    position: fixed;
    z-index: 98;
    width: 100%;
    height: 100vh;
    background-color: var(--modal-container-fondo);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
}

.modal {
    background-color: var(--blanco);
    width: 50%;
    height: 100%;
    justify-content: space-between;
    
    z-index: 99;
    box-shadow: 2px 1px 3px var(--shadows-color);
    transform: scale(0);
    opacity: 0;
    filter: blur(12px);
    transition: all 0.5s;
}

.aparecer--modal {
    transform: scale(1);
    filter: blur(.01px);
    opacity: 1;
}

.modal_container--show {
    opacity: 1;
    pointer-events: unset;
}


.modal_content {
    width: 100%;
    height: 33%;
    padding: 0.6rem 2rem;
    box-sizing: border-box;
}

.modal_titulo {
    margin-top: 0.5rem;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-titulos);
}

.modal_sub-titulo {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--color-sub-titulos);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.modal_text-container {
    height: 30%;
    margin-top: 0.5rem;
    border-top: 1px solid #949494;
    margin-bottom: 0.5rem;
}

.modal_descripcion {
    height: 100%;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.5rem;
    color: var(--color-texto);
}

.modal_button-container {
    justify-content: space-between;
    flex-direction: row;

}

.modal_buttons {
    width: 100%;
}

.modal_button {
    border: 2px solid var(--color-secundario);
    background-color: var(--color-secundario);
    color: var(--blanco);
    margin-right: 1rem;
}

.modal_button:hover {
    border: 2px solid var(--blanco);
    background-color: var(--blanco);
    color: var(--color-secundario);
}

.modal_git {
    font-size: 1.1rem;
    margin-right: 0.4rem;
}

.modal_open {
    font-size: 1rem;
    margin-right: 0.4rem;
}

.modal_close {
    font-size: 1.5rem;
    color: var(--color-texto);
    cursor: pointer;
}