.nav {
    bottom: 0;
    left: 0;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    background: var(--color-nav);
    border-bottom: 3px solid var(--color-primario);
    height: 50px;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    z-index: 99;
    opacity: 1;
    visibility: visible;
}

.fixed {
    position: fixed;
    top: 0;
    transform: translateY(-100%);
}

.show {
    transform: translateY(0%);
    /* Mover el nav hacia abajo */
    transition: all 0.8s ;
    box-shadow: 0 0 10px 2px var(--color-primario);
}

.show .resaltador {
    font-weight: 500 !important;
}
.show .activo{
    font-weight: 800 !important;
}
.logo {
    color: var(--blanco);
    font-weight: 500;
    flex-direction: row;
    font-size: 1.08rem;
    opacity: 0;
}

.logo>* {
    opacity: 0;

}

.logo .resaltador {
    font-weight: 700 !important;
}

.letrasLogo {
    animation: aparecerLetrasLogo 0.5s ease-in-out forwards
}

.link_wrap {
    background: none;
    height: 50%;
    overflow: visible;
    position: initial;
    width: 80%;
    flex-direction: row;
    justify-content: flex-end;
}

.link_pagina {
    color: var(--blanco);
    margin: 0 2.5rem;
    font-weight: 300;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.5s;
}

.link_pagina:hover {
    color: var(--color-secundario);
    text-shadow: 2px 2px 8px 1px var(--color-secundario) !important;
}